{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/managers.css' %}">
    <title>LoginAdm</title>
</head>
<body>
  <header>
    <div class="head">
    <img src="{% static 'image/SSTires-logo.png' %}" width="131px" height="40px" alt="Responsive">
  </div>
  </header>
  <div class="body-container">
    <div class="container-info">
      <div class="title-managers">
        <h1>Bem-vindo à nossa plataforma de Gestão de Currículos!</h1>
        <div class="description-managers">
          <h2>Simplifique seu processo de recrutamento e gerencie currículos de forma eficiente. Faça login agora para começar.</h2>
        </div>
      </div>
      <div class="form-image">
        <img src="{% static 'image/profiles.svg' %}" width="300px" height="300px" alt="Responsive">
      </div>
    </div>
    <div class="container-form">
      <div class="login-container">
        <h2>Acessar</h2>
        <form action="processa_login.php" method="post">
            <label for="E-mail">E-mail:</label>
            <input type="text" id="E-mail" name="E-mail" placeholder="Digite o seu E-mail" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite a sua senha">
            <input type="submit" value="Entrar">
        </form>
      </div>
    </div>
  </div>
  <footer>© 2024 PI - SS Tires. Todos os direitos reservados.</footer>
</body>
</html>