{% extends 'candidates/base.html' %}

{% block title %}
  SS Tires - Candidatos
{% endblock %}

{% block description %}
  Cadastro do candidato
{% endblock %}

{% block content %}
  <div class="card card-lg">
    <h2 class="card-title">Cadastro</h2>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% elif message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-info" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}


    <form method="post" action="{% url 'candidates:register' %}">
      {% csrf_token %}
      <div class="mb-4">
        <label for="name" class="form-label">Nome completo</label>
        <input value="{{ name }}" type="text" class="form-control" id="name" name="name" placeholder="Digite o seu nome completo" required />
      </div>

      <div class="mb-4">
        <label for="email" class="form-label">E-mail</label>
        <input value="{{ email }}" type="email" class="form-control" id="email" name="email" placeholder="Digite o seu e-mail" required />
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Digite a senha"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
        title="A senha deve conter pelo menos 8 caracteres, incluindo pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial."
        required />
      </div>

      <div class="mb-4">
        <label for="confirm_password" class="form-label">Confirme sua senha</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Digite a senha" required />
      </div>

      <div class="mt-4 d-flex justify-content-center">
        <a href="{% url 'candidates:index' %}" class="btn btn-outline-primary mx-3">Voltar</a>
        <button type="submit" class="btn btn-primary mx-3">Criar conta</button>
      </div>
    </form>
  </div>
{% endblock %}
