body {
  background-color: #acb5bd;
}

header {
  padding: 20px 0;
  justify-content: center;
}

.logo {
  width: 210px;
}

.title {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.candidate-resume-image {
  width: 320px;
}

.card-sm {
  max-width: 380px;
  margin: 0 auto;
}

.card-lg {
  max-width: 780px;
  margin: 0 auto;
}

.card-title {
  font-size: 24px;
  text-align: center;
}

.link {
  color: #252525;
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .candidate-resume-image {
    display: none;
  }
}
