body{
    background-color: #ACB5BD;
}

.forms_background{
    background-color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title{
    color: white;
}

.btn_enter{
    background-color: #D9B882;
    font-weight: bold;
}

.link_black{
    color: black;
}

.label_register{
    color:black;
}

.btn_create{
    background-color: #D9B882;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;

}

.btn_back{
    border: 2px solid #D9B882;
    font-weight: bold;
}
