<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in menu_items %}
          <li class="nav-item">
            <!-- prettier-ignore -->
            <a class="nav-link {% if request.path == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
