{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block meta %}
      <title>
        {% block title %}

        {% endblock %}
      </title>
      <meta name="description"
        content="{% block description %}
        {% endblock %}" />
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}" />
  </head>
  <body>
    <header>
      <img class="logo" src="{% static '/image/logo.svg' %}" alt="" />
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      <p>&copy; 2024 PI - SS Tires. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
