{% extends 'resumes/base.html' %}

{% block title %}
  SS Tires - Dados de cadastro
{% endblock %}

{% block description %}
  Dados de cadastro do candidato
{% endblock %}

{% block content %}
  {% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ success_message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <h1 class="card-title mb-4">Dados de cadastro</h1>

  {% if has_resume %}
    <div class="row">
      <div class="col-lg-6 col-12 mb-4">
        <h2 class="card-sub-title mb-3">Informações pessoais</h2>
        <ul class="resume-info">
          <li>Nome: {{ candidate.social_name|default_if_none:candidate.name }}</li>
          <li>E-mail: {{ candidate.email }}</li>
          <li>Idade: {{ age_in_years }} anos</li>
          <li>Localização: {{ resume.city.name }}, {{ resume.state.abbreviation }}</li>
          <li>Gênero: {{ resume.gender.name }}</li>
          <li>Telefone: {{ resume.telephone }}</li>
          <li>LinkedIn: {{ resume.linkedin }}</li>
        </ul>
      </div>
      <div class="col-lg-6 col-12 mb-4">
        <h2 class="card-sub-title mb-3">Área de interesse</h2>
        <p>{{ resume.area_of_interest.name }}</p>
      </div>

      <hr class="dash mb-4" />

      <div class="col-12 mb-4">
        <h2 class="card-sub-title mb-3">Experiência profissional</h2>
        {% for work_experience in work_experiences.all %}
          <h3 class="card-resume-sub-title">{{ work_experience.job_title.title }}, {{ work_experience.company }}</h3>
          <ul class="resume-info mb-2">
            <li>
              Período: {{ work_experience.start_date|date:'Y-m-d' }} - {{ work_experience.end_date|date:'Y-m-d' }} {% if not work_experience.end_date %}Presente{% endif %}
            </li>
            <li>Responsabilidades: {{ work_experience.description }}</li>
          </ul>
        {% endfor %}
      </div>

      <hr class="dash mb-4" />

      <div class="col-12 mb-4">
        <h2 class="card-sub-title mb-3">Educação</h2>
        <h3 class="card-resume-sub-title">Graduação em Ciência da Computação, Universidade Z</h3>
        <ul class="resume-info mb-2">
          <li>Período: 2016 - 2020</li>
        </ul>
      </div>

      <hr class="dash mb-4" />

      <div class="col-lg-6 col-12 mb-4">
        <h2 class="card-sub-title mb-3">Habilidades técnicas</h2>
        <ul class="resume-info">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
        </ul>
      </div>
      <div class="col-lg-6 col-12 mb-4">
        <h2 class="card-sub-title mb-3">Idiomas</h2>
        <ul class="resume-info">
          <li>Inglês (nativo)</li>
        </ul>
      </div>
    </div>
    <div class="txt-center">
      <a class="btn btn-primary mt-40" href="/resumes/edit" role="button">Editar currículo</a>
    </div>
  {% else %}
    <p>Complete seu perfil para estar disponível para oportunidades!</p>
    <div class="txt-center">
      <a class="btn btn-primary mt-40" href="/resumes/edit" role="button">Cadastrar currículo</a>
    </div>
  {% endif %}
{% endblock %}
